$main-color: #F2B800;
$border-color:#FFF4ED;
$button-color: #EF9E00;
$alt-button-color: #679BFF;
$small-letter : #414141;
$white-color: white;
$text-font: 'Roboto';
$header-font: 'Lora';
$font-weight: 700;
$default-shadow: 0px 8px 20px #C9C9C9;