@import "./../styles//globalsColor.scss";

.button 
{
    min-width: 140px;
    min-height: 20px;
    align-items: center;
    justify-content: center;
    background:none;
    border-radius: 6px;
    margin: 20px 50px 20px 20px;
     border: 2px solid $main-color;    
     background-color: $main-color
}

@media (min-width: 640px) {
  .button{
    min-height: 75px; 
    min-height: 20px;

  }
}



.text {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: black;
}


