@import "./styles/globalsColor.scss";
@import "./styles/globals.css";
.html{
  box-sizing: border-box;
}

.body{
  min-width: 320px;
  overflow-x: hidden;
}

.header {
  background-color: $border-color;  
  &__inner {
    min-height:  50px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
  }
}

@media (min-width: 640px) {
  .header{
    &__inner{
      min-height: 75px;      
    }   
  }
}
@media (min-width: 1024px) {
  .header{
    &__inner{
      min-height: 100px;      
    }   
  }
}


@media (min-width: 1440px) {
  .header{
    &__inner{
      min-height: 100px;      
    }   
  }
}




.container {
  // padding: 0 20px;
  display: flex;
  justify-content: center;  
  min-height: calc(100% - 325px);  
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 20px;
  
  &__image{
    justify-content: center; 
    align-items: center;

    }   
  }

@media (min-width: 640px) {
  .container {
    
    min-height: calc(100% - 450px);  
    margin: 0 30px 0 30px;
  &__image{

  }   
  }
}

@media (min-width: 768px) {
  .container {
    min-height: calc(100% - 525px); 
    
    
    margin: 0 35px 0 35px;
  &__image{

  }   
  }
}


@media (min-width: 1024px) {
  .container {
    min-height: calc(100% - 600px); 
    
    max-width: 1200px;
    margin: 0 auto;
    margin: 0 40px 0 40px;
  &__image{

  }   
  }
}

@media (min-width: 1440px) {
  .container {
    
    min-height: calc(100% - 600px);  
    max-width: 1040px;
    margin: 0 150px 0 150px;
  &__image{
    
  }   
  }
}

@media (min-width: 1440px) {
  .container{
    max-width: 1040px;
    margin: 0 150px 0 150px;
  }   
}


.footer {
  background-color: $border-color;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 640px) {
  .footer{
    &__inner{
      min-height: 375px;      
    }   
  }
}

@media (min-width: 760px) {
  .footer{
    &__inner{
      min-height: 450px;      
    }   
  }
}
@media (min-width: 1024px) {
  .footer{
    &__inner{
      min-height: 500px;      
    }   
  }
}


@media (min-width: 1440px) {
  .footer{
    &__inner{
      min-height: 500px;      
    }   
  }
}




.footerBlock{

  margin: 15px 0 0 15px;
  &__title{
    
    
  }
  &__text{
    
  }
  &__paragraph{
    margin-left: 5px;
    
    
  }

}



.logo__link{
  margin-left: 15px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 30px;    
  }
}

@media (min-width: 768px) {
  .logo__link {
    margin-left: 35px;    
  }
}
@media (min-width: 1024px) {
  .logo__link {
    margin-left: 40px;    
  }
}

@media (min-width: 1440px) {
  .logo__link {
    margin-left: 150px;    
  }
}



.menu {
  &__btn {
    margin-right: 15px;
    width: 41px;
    height: 41px;
    border-radius: 3px;
    background-color: #FFFCFB;
    border: none;
    position: relative;
    &::after{
      content: "";
      width: 19px;
      height: 3px;
      border-radius: 1px;
      background-color: $main-color;
      position: absolute;
      left: 11px;
      top: 11px;
      box-shadow: 0 18px 0 0 $main-color, 0 9px 0 0 $main-color ;
    }
  }
}


@media (min-width: 640px) {
  .menu {
    margin-right: 30px;
    &__btn{
      width: 51px;
      height: 51px;      
      &::after 
        {
        width: 23px;
        height: 3px;
        left: 14px;
        top: 14px;
        box-shadow: 0 20px 0 0 $main-color, 0 10px 0 0 $main-color ;
        }
      }      
    }
  }
  @media (min-width: 768px) {
    .menu {
      margin-right: 35px;    
    }
  }

    
  
  
  @media (min-width: 1024px) {
    .menu{
      display: none; 
      justify-content: none;
    }
 
    }  



  @media (min-width: 768px) {
    .logo__link {
      margin-right: 35px;    
    }
  }
  
  @media (min-width: 1024px) {
    .menu{
      display: none; 
      justify-content: none;
    }
 
    }   


.plan{
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  
  
  
  
  &__image{
    min-width: 320px;
    min-height: 110px;  
  }
  &__title{
    top: 25%;
    left: 50%;
    position: absolute;    
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.75px #000000;
    font-size: 20px;
    
  }
  &__text {
    top: 75%;
    left: 65%;
    position: absolute;
    transform: translate(-5%, -55%);
    text-align: left;
    font-size: 10px;
  }
}

@media (min-width: 375px) {
  .plan{

    &__text{
      top: 70%;
      left: 70%;
      transform: translate(-25%, -50%);
    }
  }
  }
  






@media (min-width: 640px) {
  .plan{
    margin-top: 20px;
    font-size: 30px;    
    &__image{
    min-width: 580px;
    min-height: 200px;   
    margin: 0 30px 0 30px;    }
    &__title {
      -webkit-text-stroke: 1.25px #000000;
      font-size: 30px; 
    }
    &__text{
      font-size: 20px; 
      top: 75%;
      left: 65%;
      position: absolute;
      transform: translate(-10%, -49%);
      text-align: left;
    }
  }
  }



  @media (min-width: 768px) {
    .plan{
      &__image{

      margin: 0 35px 0 35px;
      
      }
    }
    }



  @media (min-width: 1024px) {
    .plan{
      margin-top: 30px;
      &__image{
      min-width: 940px;
      min-height: 300px;
      margin: 0 40px 0 40px;
      display: none;
      
    }
    &__pcimage{
      background: url('./image/tariff_plan.png') no-repeat;
      min-width: 940px;
      min-height: 300px;   
    }

    &__title {      
      font-size: 35px; 
    }
    &__text{
      font-size: 27px;
      top: 70%;
      left: 70%;
      transform: translate(-25%, -55%);

        
    }
        
    }
  }
  
  @media (min-width: 1440px) {
    .plan{
      margin-top: 40px;      
      &__image{
      min-width: 1140px;
      min-height: 400px;  
      margin: 0 150px 0 150px;      
      }
    }
 
    } 
    
    
    
    .reviewsBlock{ 
      
      background-color: rgb(255, 255, 255);   
      border: 0.5px solid #C9C9C9;
      display: grid;

      grid-column-gap: 0px;
      grid-row-gap: 20px;
      align-items:center;
      align-content: space-between;      
      margin-bottom: 10px;
      
      &__image {
        grid-area: 1 / 1 / 3 / 3;
         justify-self: center;
      }
      &__title {
        grid-area: 1 / 3 / 3 / 5;
        margin: 5px 10px 0 0;
        margin-left: 15px;
     }
     &__imagetext{
      grid-area: 3 / 1 / 4 / 3; 
      margin-left: 15px;  
    }
    &__subtitle{
      grid-area: 4 / 1 / 4 / 5;   
      margin-left: 15px;  
    }
     &__text {
      grid-area: 5 / 1 / 7 / 5; 
      margin-left: 20px;
      margin-bottom: 10px;
    }


    }

 
    .button 
    {
        min-width: 140px;
        min-height: 20px;
        align-items: center;
        justify-content: center;
        background:none;
        border-radius: 6px;
        margin: 20px 50px 20px 20px;
         border: 2px solid $main-color;    
         background-color: $main-color
    }
    
    @media (min-width: 640px) {
      .button{
        min-height: 75px; 
        min-height: 20px;
    
      }
    }
    
    
    
    .text {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        color: black;
    }
       
// .btn button{
//   display: none;  
// }



